<h3>Hello <%= @owner.first_name %>!</h3>
<p>Submit your pet's information with the 'new pet' form below to make and keep track of appointments and medical records.</p>

    <% @owner.pets.each do |pet| %>
        <div class="list-group">
            <a href="/owners/<%= pet.owner_id %>/pets/<%= pet.id %>" class="list-group-item">
                <%= pet.name %>
            </a>
        </div>
    <% end %>
<br><br>
<%= link_to "New Pet", new_owner_pet_path(@owner) %>