<h3>Enter your pet's info:</h3>

<% if @pet.errors.any? %>
   <div id="error_explanation">
     <h4>
       <%= pluralize(@pet.errors.count, "error") %>
       prohibited this post from being saved:
     </h4>
     <ul>
     <% @pet.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
     <div id="closebtn" onclick="this.parentElement.style.display='none';">&times;</div>
   </div>
 <% end %>

<%= form_for @pet do |f| %>
    
    <%= f.label "Name:" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label "Color:" %>
    <%= f.text_field :color %>
    <br>
    <%= f.label "Breed:" %>
    <%= f.text_field :breed %>
    <br>
    <%= f.label "Date of Birth:" %>
    <%= f.date_field :dob %>
    <br>
    <%= f.label "Gender:" %>
    <%= f.label "Male" %>
    <%= f.radio_button :gender, "male" %>
    <%= f.label "Female" %>
    <%= f.radio_button :gender, "female" %>

    <%= f.hidden_field :owner_id %>
    <br><br>
    <%= f.submit "Submit" %>
<% end %>
