<h3>Pet Info</h3>

<p><strong>Name: </strong><%= @pet.name %></p>
<p><strong>Color: </strong><%= @pet.color %></p>
<p><strong>Breed: </strong><%= @pet.breed %></p>
<p><strong>Birthdate: </strong><%= birthdate(@pet) %> (<%= @pet.age %>y/o)</p>
<p><strong>Gender: </strong><%= @pet.gender.capitalize %></p>
<br>

<h3>Owner Contact</h3>
<p><strong>Full Name: </strong><%= @pet.owner.full_name %></p>
<p><strong>Email: </strong><%= @pet.owner.email %></p>
