<h3>Pet Info</h3>

  <%= render 'table_pet_info' %>
<br>

<% if !upcoming_appts(@pet).empty? %>
  <h3>Upcoming Appointments</h3>

      <%= render 'table_appts' %>
<% end %>
<br>

<% if !@pet.charts.empty? %>
  <h3>Medical Chart</h3>
  
    <%= render 'table_pet_chart' %>
<% end %>
<br>

<h3>Owner Contact</h3>
<p><strong>Full Name: </strong><%= @pet.owner.full_name %></p>
<p><strong>Email: </strong><%= @pet.owner.email %></p>
<br><br>
<% if current_owner %>
    <p><strong>Make a new <%= link_to "appointment", new_pet_appointment_path(@pet) %> </strong></p>
<% end %>
