<h3>Pet Info</h3>

<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <td><%= @pet.name %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Breed</th>
      <td><%= @pet.breed %></td>
    </tr>
    <tr>
      <th scope="row">Color</th>
      <td><%= @pet.color %></td>
    </tr>
    <tr>
      <th scope="row">Birthdate</th>
      <td><%= birthdate(@pet) %> (<%if @pet.age_years > 0 %><%= @pet.age_years %>y/o <% else %><%= @pet.age_months%>m/o<% end %>)</td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td><%= @pet.gender.capitalize %></td>
    </tr>
  </tbody>
</table>
<br>

<h3>Medical Chart</h3>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Vaccination</th>
      <th scope="col">Medication</th>
      <th scope="col">Diagnosis</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @pet.charts.each do |chart| %>
    <tr>
      <td align="center"><%= vacc_if_true(chart) %></td>
      <td align="center"><%= med_if_true(chart) %></td>
      <td align="center"><%= diag_if_true(chart) %></td>
      <td><%if is_vet %><%= link_to chart.note, vet_chart_path(is_vet, chart) %><%else%><%= link_to chart.note, pet_chart_path(@pet, chart) %><%end%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<h3>Owner Contact</h3>
<p><strong>Full Name: </strong><%= @pet.owner.full_name %></p>
<p><strong>Email: </strong><%= @pet.owner.email %></p>
<br><br>
<% if current_owner %>
    <p><strong>Make a new <%= link_to "appointment", new_pet_appointment_path(@pet) %> </strong></p>
<% end %>
