<h3>Hello, <%= @vet.dr_last_name %></h3>
<p><%= @vet.appointment_count %></p>
<% if !@vet.appointments.empty? %>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Appointment Details</th>
        </tr>
        </thead>
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        <% @vet.appointments.each do |appt| %>
        
        <tr>
            <td><%= link_to appt.pet.name, pet_path(appt.pet) %></td>
            <td><%= appt_date(appt) %></td>
            <td><%= appt_time(appt) %></td>
        </tr>
    <% end %>
</table>
<% else %>
    <p>Find the new appointment and chart forms in the menu.</p>
<% end %>