<h3>Hello, <%= @vet.full_dr_name %></h3>
<p><%= @vet.appointment_count %></p>
<% if !@vet.appointments.empty? %>
<table>
        <tr>
            <th colspan="<%= @vet.appointments.count %>">Your Upcoming Appointments</th>
        </tr>
        <tr>
            <td>Patient</td>
            <td>Date</td>
            <td>Time</td>
        </tr>
        <% @vet.appointments.each do |appt| %>
        
        <tr>
            <td><%= appt.pet.name %></td>
            <td><%= appt_date(appt) %></td>
            <td><%= appt_time(appt) %></td>
        </tr>
    <% end %>
</table>
<% else %>
    <p>Make a new appointment below.</p>
<% end %>
<br>
<%= link_to "New Appointment", new_vet_appointment_path(@vet) %>
<br><br>
<%= link_to "New Chart", new_vet_chart_path(@vet) %>
<br><br>
<%= link_to "Logout", logout_path %>