<h3>Medical Card for <%= link_to @chart.pet.name, pet_path(@chart.pet) %></h3>
<table class="table">
  <caption>Reviewed by <%= @chart.vet.full_dr_name %></caption>
  <thead>
    <tr>
      <th scope="col">Vaccination</th>
      <th scope="col">Medication</th>
      <th scope="col">Diagnosis</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center"><%= vacc_if_true(@chart) %></td>
      <td align="center"><%= med_if_true(@chart) %></td>
      <td align="center"><%= diag_if_true(@chart) %></td>
      <td><%= @chart.note %></td>
    </tr>
  </tbody>
</table>

<% if is_vet %>
  <%= link_to "Edit Chart", edit_vet_chart_path(@chart.vet, @chart) %>
  <br>
  <%= link_to "Delete", @chart, method: :delete, data: {confirm: "Are you sure you want to delete this record?"} %>
<% else %>
    <p><strong>Make a new <%= link_to "appointment", new_pet_appointment_path(@chart.pet) %> </strong></p>
<% end %>
