<h3>Medical Card for <%= @chart.pet.name %></h3>
<table class="table">
  <caption>Reviewed by <%= @chart.vet.full_dr_name %></caption>
  <thead>
    <tr>
      <th scope="col">Vaccination</th>
      <th scope="col">Medication</th>
      <th scope="col">Diagnosis</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= vacc_if_true(@chart) %></td>
      <td><%= med_if_true(@chart) %></td>
      <td><%= diag_if_true(@chart) %></td>
      <td><%= @chart.note %></td>
    </tr>
  </tbody>
</table>