<p><strong><%= @appointment.pet.name %>'s appointment details:</strong></p>
<p><strong>Date: </strong> <%= appt_date(@appointment) %></p>
<p><strong>Time: </strong> <%= appt_time(@appointment) %></p>
<% if current_owner %>
    <p><strong>Vet: </strong><%= @appointment.vet.full_dr_name %></p>
    <p><strong>Location: </strong>
    <%= link_to vet_clinic(@appointment).name, clinic_path(vet_clinic(@appointment)) %></p>
    <br>
    Back to <%= link_to @appointment.pet.name, owner_pet_path(@appointment.pet.owner, @appointment.pet) %>'s profile page.
<% end %>
<% if is_vet %>
    <%= link_to "Edit", edit_vet_appointment_path(@appointment.vet, @appointment) %>
    <br>
    <%= link_to "All Appointments", vet_path(@appointment.vet) %>
<% end %>