<!DOCTYPE html>
<html>
  <head>
    <title>FurDocs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('furdocs_logo_icon.png') %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">
        <div id="menubar-logo">
          <img src="/assets/images/furdocs_logo_icon.png" alt="furdocslogo.png">
        </div>
      </a>
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
        <% if logged_out %>
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/github">Login with GitHub</a>
            </li>
        <% else %>
            <li class="nav-item">
                <a class="nav-link" href="/<%if is_vet%>vets/<%= is_vet.id %><%else%>owners/<%= current_owner.id %><%end%>">Home</a>
            </li>

            <% if is_vet %>
                <li class="nav-item">
                    <a class="nav-link" href="/vets/<%= is_vet.id %>/appointments/new">New Appointment</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/vets/<%= is_vet.id %>/charts/new">New Chart</a>
                </li>
            <% else %>
                <li class="nav-item">
                <a class="nav-link" href="/owners/<%= current_owner.id %>/pets/new">New Pet</a>
                </li>
            <% end %>
            <li class="nav-item">
                <a class="nav-link" href="/clinics">Clinics</a>
            </li>
        <% end %>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto">FurDocs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <% if logged_out %>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">For Vets</a>
            </li>
    <% else %>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    <% end %>
    </div>
</nav>


  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8 content-center">

      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
      <% end %>

        <%= yield %>
        
      </div>
  </div>
  </body>
</html>
