<!DOCTYPE html>
<html>
  <head>
    <title>FurDocs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('furdocs_logo_icon.png') %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">
        <div id="menubar-logo">
          <img src="/assets/furdocs_logo_icon.png" alt="furdocslogo.png">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <% if logged_out %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/login">For Vets</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/github">Login with GitHub</a>
        </li>
        
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/<%if is_vet%>vets/<%= is_vet.id %><%else%>owners/<%= current_owner.id %><%end%>">Home</a>
        </li>
        <% if is_vet %>
          <li class="nav-item">
            <a class="nav-link" href="/vets/<%= is_vet.id %>/appointments/new">New Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vets/<%= is_vet.id %>/charts/new">New Chart</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/owners/<%= current_owner.id %>/pets/new">New Pet</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/clinics">Clinics</a>
          </li>
        <% end %>
        </li>
      
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
      <% end %>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8 content-center">
        <%= yield %>
      </div>
  </div>
  </body>
</html>
