<!DOCTYPE html>
<html>
  <head>
    <title>FurDocs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('furdocs_logo_icon.png') %>
  </head>

  <body>

  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
  <% end %>

    <%= yield %>
  </body>
</html>
