<!DOCTYPE html>
<html>
  <head>
    <title>FurDocs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('furdocs_logo_icon.png') %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <div id="menubar-logo">
          <img src="/assets/furdocs_logo_icon.png" alt="furdocslogo.png">
        </div>
      </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <% if logged_out %>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/github">Login with GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">For Vets</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/<%if is_vet%>vets/<%= is_vet.id %><%else%>owners/<%= current_owner.id %><%end%>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="/owners/<%= current_owner.id %>/pets/new">New Pet</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/clinics">Clinics</a>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <%= yield %>
      </div>
  </div>
  </body>
</html>
